*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.flex {
    display: flex;
}
/* ---- Header */
header {
    height: 80px;
    background-color: black;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

.speake_view {
    display: inline-block;
    padding: 3px 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
}
.icon_header {
    background-color: grey;
    padding: 8x 5px;
}

/* ---- MAIN */
main {
    height: calc(100vh - 160px);
    background-color: black;
    overflow: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.container {
    width: 250px;
    height: 150px;
    background-color: aqua;
    margin: 5px;
    position: relative;
    
}

.username {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.500);
}

/* ---- FOOTER */
footer {
    height: 80px;
    background-color:#222222;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.user {
    /* background-color: blue; */
    width: 250px;
}
.meeting {
    /* background-color: blue; */
    width: 700px;
}

.end_meeting {
    background-color: #4a4a4a;
    width: 200px;
    color: red;
    justify-content: center;
    align-items: center;
}
.interaction {
    align-items: center;
    margin-right: 10px;
}
.icon_card_f {
    text-align: center;
    margin-right: 10px;

}
.icon_footer {
    font-size: 30px;
}

#share_screen {
    color: green;
}
/* icon_footer
name_icon_footer */