*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    height: 80px;
    background-color: black;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

.speake_view {
    display: inline-block;
    padding: 3px 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
}
.icon_header {
    background-color: grey;
    padding: 8x 5px;
}

main {
    height: calc(100vh - 180px);
    background-color: black;
    /* overflow: scroll; */
}

footer {
    height: 100px;
    background-color:#222222;
    padding: 10px;
}